<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    </head>
    <body>
        <div class="container-fluid">
            <h3 id = "sentence" style = "text-align: center;"><%= sentence_content %></h3>
            <h5 style = "text-align : center">Base detected by parser: <%= base %></h5>
            <h5 style = "text-align : center">Target detected by parser: <%= target %></h5>
            <div class="row">
                <div class="col-sm-6" >
                    <form class="" action="/Yes" method="post">
                        <input type="submit" name="Yes" value="Yes" class = "btn btn-danger center-block">
                    </form>
                </div>
                <form class="" action="/No" method="post">
                    <input type="submit" name="No" value="No" class = "btn btn-primary center-block">
                </form>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </body>
</html>
