<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Query</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><%=user%></a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home">Home</a></li>
                    <li><a href="/label">Label</a></li>
                    <li><a href="/query">Query</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <form action="/query/user" method = "POST">
                <select name = "users" id = "users" class = "users">
                    <option value="barbeda">barbeda</option>
                    <option value="phnguyen17">phnguyen17</option>
                    <option value="jnislam18">jnislam18</option>
                    <option value="aegokce16">aegokce16</option>
                </select>
                <input type="submit" value = "Find">
            </form>
            <form action="/query/sentence" method="POST">
                <input type="text" name="num_id">
                <select  name="corpus">
                    <option value="Brown">Brown</option>
                </select>
                <input type="submit" value="Find">
            </form>
        </div>

    </body>
</html>
